name: Build ANTs for Windows

on:
  # Allows to run the workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build packages
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
      # Set up vs studio. Use default windows shell (powershell) not bash,
      # to avoid conflicts with link executable
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ runner.arch }}
          vsversion: "2019"

      - name: Configure ANTs
        working-directory: ${{runner.temp}}
        run: |
          git clone https://github.com/ANTsX/ANTs.git source
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${{runner.temp}}/install ../source

      - name: Build ANTs
        working-directory: ${{runner.temp}}
        run: |
          cd build
          cmake --build . --config Release --parallel

      - name: Install ANTs
        working-directory: ${{runner.temp}}
        run: |
          cd build/ANTS-build
          cmake --install .
          cp -R ${{runner.temp}}/source/Scripts ${{runner.temp}}/install/

      - name: Pack
        shell: bash
        working-directory: ${{runner.temp}}
        run: |
          7z a ANTs_package_windows.zip install/

      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: Package
          path: ${{runner.temp}}/ANTs*
          if-no-files-found: error